<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @railway_stations.each do |railway_station| %>
      <tr>
        <td>
          <div id="railway_station_title_<%= railway_station.id %>">
            <%= railway_station.title %>
          </div>
          <%= render 'form', station: railway_station, hidden: true %>
        </td>
        <td><%= link_to t('common.show'), [:admin, railway_station] %></td>
        <td><%= link_to t('common.edit'), '', class: 'edit_station', data: { station_id: railway_station.id } %></td>
        <td><%= link_to t('common.destroy'), [:admin, railway_station], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('admin.railway_stations.new.title'), new_admin_railway_station_path %>
