<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>Маршрут:</strong>
  <% if @train.route %>
    <%= @train.route.name %>
  <%else%>
    не назначен
  <%end%>
</p>

<p>
  <strong>Текущая станция:</strong>
  <% if @train.current_station %>
      <%= @train.current_station.title %>
  <%else%>
      не назначен
  <%end%>
</p>

<p>
  <strong>Количество купейных вагонов:</strong>
  <%= @train.carriages_count 'купейный' %>
</p>

<p>
  <strong>Количество плацкартных вагонов:</strong>
  <%= @train.carriages_count 'плацкартный' %>
</p>

<p>
  <strong>Количество мест купейных вагонов:</strong>
  верхних:
  <%= @train.seats_count 'купейный', :top %>
  нижних:
  <%= @train.seats_count 'купейный', :bottom %>
</p>

<p>
  <strong>Количество мест плацкартных вагонов:</strong>
  верхних:
    <%= @train.seats_count 'плацкартный', :top %>
  нижних:
    <%= @train.seats_count 'плацкартный', :bottom %>
</p>

<%= link_to 'Изменить', edit_train_path(@train) %> |
<%= link_to 'Назад', trains_path %>
