<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @carriage.number %>
</p>

<p>
  <strong>Поезд:</strong>
  <% if @carriage.train %>
      <%= @carriage.train.number %>
  <%else%>
      не назначен
  <%end%>
</p>

<p>
  <strong>Тип вагона:</strong>
  <% if @carriage.kind %>
      <%= @carriage.kind %>
  <%else%>
      не назначен
  <%end%>
</p>

<p>
  <strong>Количество верхних мест:</strong>
  <% if @carriage.top_seats %>
      <%= @carriage.top_seats %>
  <%else%>
      не назначен
  <%end%>
</p>

<p>
  <strong>Количество нижних мест:</strong>
  <% if @carriage.bottom_seats %>
      <%= @carriage.bottom_seats %>
  <%else%>
      не назначен
  <%end%>
</p>

<%= link_to 'Edit', edit_carriage_path(@carriage) %> |
<%= link_to 'Back', carriages_path %>