<p id="notice"><%= notice %></p>

<p>
  <strong>Номер:</strong>
  <%= @carriage.number %>
</p>

<p>
  <strong>Поезд:</strong>
    <%= @carriage.train.number %>
</p>

<p>
  <strong>Тип вагона:</strong>
      <%= Carriage::TYPES[@carriage.type.to_sym] %>
</p>

<%= render @carriage.type.underscore, carriage: @carriage %>

<%= link_to 'Изменить', edit_carriage_path(@carriage) %> |
<%= link_to 'Назад', @carriage.train %>