<h1>Поиск</h1>

<%= form_tag search_path do %>
    <div class="col-md-5">
      <%= label :first_station_id, 'Отправление' %>
      <%= select_tag :first_station_id, options_from_collection_for_select(@railway_stations, :id, :title), class: 'form-control' %>
    </div>
    <div class="col-md-5">
      <%= label :last_station_id, 'Прибытие' %>
      <%= select_tag :last_station_id, options_from_collection_for_select(@railway_stations, :id, :title), class: 'form-control'  %>
    </div>
    <div class="col-md-2">
      <%= submit_tag 'Поиск', class: 'btn btn-primary' %>
    </div>

    <% if @search %>
      <div class="col-md-12">
        <table class="table table">
          <thead>
          <tr>
            <td><%= 'Поезд' %></td>
            <td><%= 'Маршрут' %></td>
            <td><%= 'Время отправления' %></td>
            <td><%= 'Время прибытия' %></td>
          </tr>
          </thead>
          <tbody>
          <% if @trains.empty? %>
              <tr>
                <td>не найдено</td>
              </tr>
          <% else %>
              <% @trains.each do |train| %>
                  <tr>
                    <td><%= train.number %></td>
                    <td><%= train.route.name %></td>
                    <td><%= @first_station.time_in(train.route, :departure_time) %></td>
                    <td><%= @last_station.time_in(train.route, :arrival_time) %></td>
                    <td><%= link_to 'Купить', new_ticket_path(train_id: train.id,
                                                              first_station_id: @first_station.id,
                                                              last_station_id: @last_station.id) %>
                    </td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
    <% end %>
<% end %>