<!DOCTYPE html>
<html>
<head>
  <title>Railway</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p id="notice" class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if user_signed_in? %>
    <p><%= link_to "Выйти", destroy_user_session_path, method: :delete %></p>
    <p>Пользователь: <%= current_user.email %></p>
<% else %>
    <%= link_to "Войти", new_user_session_path %>
<% end %>

<%= yield %>

<footer>
  (с) Админка. 2017 Андрей Придатченко. Учебный проект в
  <%= link_to 'онлайн-школе Thinknetica.', "http://www.thinknetica.com" %>
</footer>
</body>
</html>