<!DOCTYPE html>
<html>
  <head>
    <title>Railway</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      (с) 2017 Андрей Придатченко. Учебный проект в
      <%= link_to 'онлайн-школе Thinknetica.', "http://www.thinknetica.com" %>
    </footer>
  </body>
</html>
